.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: #ff6854;


    h1{
        font-size: 50px;
        
    }

    p{
        font-size: 13px;
    }
}



