doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ZoomFace

        //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/main.css")
        //- Reset Css
        link(rel="ResetCss", href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css")
        

        //- 구글 폰트
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    body 
        header
            
        main
            div.title 
                    p "I see you" Through 
                    h1 ZoomFace
            div#welcome
                form
                    input(type="text", placeholder="Room Name", required)
                    button Enter room  
                    p Please fill the room name
            div#call
                div#myStream
                    //- playsinline은 video태그가 재생시 전체화면이 되는 것을 막는다.
                    video#myFace(autoplay, playsinline, width="700", height="700")   
                    div.btnBox 
                        button#mute Mute 
                        button#camera Turn Camera Off
                    select#cameras 
                        option(value="device") Face Camera
                    //- 새로운 video태그가 생겨난다.
                    //- video#peerFace(autoplay, playsinline, width="700", height="700")

        //- socket.io는 브라우저에서 기본적으로 가지고있는 websocket API보다 많은 기능을 내포하고 있어 추가적으로 프론트엔드 단에도 설치가 필요하다.
        script(src="/socket.io/socket.io.js")  
        script(src="/public/js/app.js") 